/*johnforlife*/

body {
    margin-top:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:auto;
    margin-right:auto;
    background-color:#ebdb84;
    background-image:linear-gradient(rgba(77, 183, 253, 0.5),rgba(231, 39, 39, 0.5)), url('images/background\ -\ Copy.jpg');
         }
         
         .menu-bar {
            background:chartreuse;
            text-align:center;
        
        }
        
        .menu-bar ul {
            display: inline-flex;
            list-style:none;
        }
        
        .menu-bar ul li {
            width: 120px;
            margin: 15px;
            padding: 15px;
       
        }
        nav > ul > li {
            display:inline-block;
            list-style: none;
            margin: 0 5px 0 5px;
              }
       nav > ul > li > a {
           color:rgb(246, 246, 236);
           
        } 

        .sub-menu-1 {
            display: none;
        } 

        .menu-bar ul li:hover .sub-menu-1
{
    display:block;
    position:absolute;
    background: rgb(37, 37, 39);
    margin-left: 15px;
    margin-right: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul

{
    display:block;
    margin:10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted grey;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:turquoise; 
    cursor: pointer;
}
